.header{
  background-color: #17A2B8;
  color: white;
}

.row{
  margin: 10px, 0px;
}

h3 {
  color: black;
  vertical-align: middle;
}

blockquote {
  font-size: 30px;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 20px;
}
